---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Portfolio</title>
    <!-- Include Alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body class="bg-custom-white">
    <header>
      <Navbar />
    </header>
    <main>
      <!-- Hero Section -->
      <div x-data="{ isAboutMeVisible: false }">
        <Hero />
      </div>

      <!-- About Me Section -->
      <div 
        x-data="{ 
          isAboutMeVisible: false,
          showAboutMe() {
            this.isAboutMeVisible = true;
          }
        }"
        x-init="
          window.addEventListener('scroll', () => {
            const heroSection = document.getElementById('hero-section');
            const aboutMeSection = document.getElementById('about-me-section');
            const heroRect = heroSection.getBoundingClientRect();
            if (heroRect.bottom <= 0) {
              showAboutMe();
            }
          });
        "
      >
        <AboutMe />
      </div>
    </main>
  </body>
</html>