---
import Photo from '../components/photo.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
// Define the teamColors object
const teamColors = {
  warriors: { base: '#1D428A', accent: '#FFC72C', logo: '/src/assets/Images/Currylogo.webp' },
  'mclaren-2024': { base: '#FF8700', accent: '#000000', logo: '/src/assets/Images/Landologo.webp' },
  'malboro-mclaren': { base: '#FF0000', accent: '#FFFFFF', logo: '/src/assets/Images/Sennalogo.webp' },
  'hakkinen-mclaren': { base: '#C0C0C0', accent: '#000000', logo: '/src/assets/Images/Mikalogo.webp' }
};
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/extra-styles.css" />
    <title>Creative Portfolio</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <style>
      html {
        scroll-behavior: smooth;
      }
      
      /* Responsive adjustments */
      @media (max-width: 768px) {
        body {
          font-size: 14px;
        }
        .container {
          padding-left: 1rem;
          padding-right: 1rem;
        }
        .card-container {
          grid-template-columns: 1fr;
        }
      }
      
      @media (max-width: 480px) {
        body {
          font-size: 12px;
        }
      }
      
      @media (max-width: 200px) {
        body {
          font-size: 10px;
        }
        .container {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    </style>
  </head>
  <body
    class="min-h-screen bg-custom-white"
    x-data="{ 
      selectedTeam: null, 
      teamColors: {
        warriors: { base: '#1D428A', accent: '#FFC72C', logo: '/src/assets/Images/Currylogo.webp' },
        'mclaren-2024': { base: '#FF8700', accent: '#000000', logo: '/src/assets/Images/Landologo.webp' },
        'malboro-mclaren': { base: '#FF0000', accent: '#FFFFFF', logo: '/src/assets/Images/Sennalogo.webp' },
        'hakkinen-mclaren': { base: '#C0C0C0', accent: '#000000', logo: '/src/assets/Images/Mikalogo.webp' }
      },
      redirectTo(page) {
        window.location.href = page;
      }
    }"
    x-on:team-selected.window="selectedTeam = $event.detail.team"
    :style="selectedTeam ? `background-color: ${teamColors[selectedTeam].base};` : 'background-color: var(--custom-white);'"
  >
    <main>
      <Navbar />
      <div>
        <Photo selectedTeam="{selectedTeam}" teamColors="{teamColors}" />
      </div>
  </body>
</html>