---
import Programming from '../components/Programming.astro';
import '../styles/global.css';
import { supabase } from '../SupabaseClient';
---

</script>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Programming Portofolio</title>
  </head>
  <body class="bg-custom-white" x-data="{ selectedTeam: null }" x-on:team-selected.window="selectedTeam = $event.detail.team" :style="selectedTeam ? `background-color: ${teamColors[selectedTeam].DEFAULT};` : 'background-color: var(--custom-white);'">
    <main>
      <div>
        <Programming />
      </div>
    </main>
  </body>
</html>